@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    // buttons
    @each $i in (32, 36, 40, 48, 56, 60, 64, 72) {
      .btn#{$infix}-#{$i} {
        height: #{$i}px !important;
      }
    }

    @each $name, $color in $colors {
      .#{$name}#{$infix}-bg {
        background-color: $color !important;
      }

      .#{$name}#{$infix}-text {
        color: $color !important;
      }

      .#{$name}#{$infix}-border {
        border-color: $color !important;
      }
    }

    // line height
    @for $height from 10 through 20 {
      .line-height#{$infix}-#{$height} {
        line-height: ($height / 10);
      }
    }

    @for $count from 10 through 100 {
      @if $count % 10==0 {
        .opacity#{$infix}-#{$count} {
          opacity: ($count / 100);
        }
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-underline {
  text-decoration: underline;
}

.hide-scroll {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    height: 0px;
    width: 0px;
  }
}

// .flex {
//   display: flex;
// }

// .justify-between {
//   justify-content: space-between;
// }
