// colors
$gin: #edf5ee;
$linen: #fcf4ec;
$white: #ffffff;
$zircon: #ebf3fe;
$goblin: #00803c;
$cinnabar: #dc0700;
$gull-grey: #9aa5b3;
$fire-bush: #dd933c;
$casablanca: #f7b643;
$misty-rose: #fce7e6;
$snow-drift: #f6faf6;
$athens-grey: #e7e9eb;
$black-pearl: #001927;
$subtle-grey: #334753;
$desert-storm: #f8f8f9;
$radiant-blue: #2f80ed;
$radiant-blue-100: #0b5ed7;
$chateau-green: #1a8653;

:root {
  --gin: #{$gin};
  --white: #{$white};
  --linen: #{$linen};
  --goblin: #{$goblin};
  --zircon: #{$zircon};
  --cinnabar: #{$cinnabar};
  --fire-bush: #{$fire-bush};
  --gull-grey: #{$gull-grey};
  --misty-rose: #{$misty-rose};
  --snow-drift: #{$snow-drift};
  --casablanca: #{$casablanca};
  --athens-grey: #{$athens-grey};
  --subtle-grey: #{$subtle-grey};
  --desert-storm: #{$desert-storm};
  --radiant-blue: #{$radiant-blue};
  --chateau-green: #{$chateau-green};
}

$colors: () !default;

$colors: map-merge(
  (
    'black-pearl': $black-pearl,
    'gin': $gin,
    'linen': $linen,
    'white': $white,
    'zircon': $zircon,
    'goblin': $goblin,
    'cinnabar': $cinnabar,
    'gull-grey': $gull-grey,
    'fire-bush': $fire-bush,
    'snow-drift': $snow-drift,
    'casablanca': $casablanca,
    'misty-rose': $misty-rose,
    'subtle-grey': $subtle-grey,
    'athens-grey': $athens-grey,
    'desert-storm': $desert-storm,
    'radiant-blue': $radiant-blue,
    'chateau-green': $chateau-green
  ),
  $colors
);

/************************************************************************/

// New colours
$dark-green: #008332;
$gold: #ea901c;

// Semantic
$warning: #ffb411;
$success: #00a740;
$danger: #f10000;
$info: #2f80ed;
$info-dark: #007ff5;

// Neutral
$blue-dark: #001a28;
$dark: #2d4854;
$grey: #97a6b4;
$grey-10: #e6e9eb;
$grey-5: #f8f8f9;

// Tertiary
$green-10: #ebf5ed;
$green-5: #f5faf5;
$gold-10: #fdf4eb;
$blue-10: #e9f3ff;

$colors: map-merge(
  (
    'info': $info,
    'info-dark': $info-dark,
    'gold': $gold,
    'grey': $grey,
    'grey-5': $grey-5,
    'danger': $danger,
    'grey-10': $grey-10,
    'warning': $warning,
    'success': $success,
    'gold-10': $gold-10,
    'blue-10': $blue-10,
    'green-5': $green-5,
    'green-10': $green-10,
    'blue-dark': $blue-dark,
    'dark': $dark,
    'dark-green': $dark-green,
    'black-pearl': $black-pearl
  ),
  $colors
);

:root {
  --info: #{$info};
  --info-dark: #{$info-dark};
  --gold: #{$gold};
  --grey: #{$grey};
  --grey-5: #{$grey-5};
  --danger: #{$danger};
  --grey-10: #{$grey-10};
  --warning: #{$warning};
  --success: #{$success};
  --gold-10: #{$gold-10};
  --blue-10: #{$blue-10};
  --green-5: #{$green-5};
  --green-10: #{$green-10};
  --blue-dark: #{$blue-dark};
  --dark: #{$dark};
  --dark-green: #{$dark-green};
  --black-pearl: #{$black-pearl};
}

// grids
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// font weights
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;

// from bootstrap
$enable-shadows: false !default;
$enable-rounded: true !default;
$line-height-base: 1.5 !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$transition-base: all 0.2s ease-in-out !default;
$enable-prefers-reduced-motion-media-query: true !default;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
  grid, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

$zindex-fixed: 1030 !default;
$zindex-sticky: 1020 !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// spaces
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: (
      $spacer * 0.75
    ),
    4: (
      $spacer * 1
    ),
    5: (
      $spacer * 1.25
    ),
    6: (
      $spacer * 1.5
    ),
    7: (
      $spacer * 1.75
    ),
    8: (
      $spacer * 2
    ),
    9: (
      $spacer * 2.25
    ),
    10: (
      $spacer * 2.5
    ),
    11: (
      $spacer * 2.75
    ),
    12: (
      $spacer * 3
    )
  ),
  $spacers
);

// fonts
$font-family-default: 'IBM Plex Sans', sans-serif;
$font-family-monospace: 'IBM Plex Sans', sans-serif;

$escaped-characters: (
  ('<', '%3c'),
  ('>', '%3e'),
  ('#', '%23'),
  ('(', '%28'),
  (')', '%29')
) !default;
